# data files
data/

# images, plots etc.
imgs/

# saved models
models/

# code workspace
licencjat_eksperyment.code-workspace

# docs links file
docs/how_to_eksperyment.md

# jupyter notebook checkpoints
src/.ipynd_checkpoints
